.gameField {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 75px;
    left: 350px;
    border: 5px dotted blue;
}

.snake {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.head {
    top: 255px;
    left: 360px;
    background-color: green;
}

.bonus {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: yellow;
}

body {
    background-color: #bbfcd0;
}