.gameField {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 75px;
    left: 350px;
    border: 10px solid green;
    background-image: url('./background.jpg');
    z-index: -10;
}

.snake {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.head {
    top: 255px;
    left: 360px;
    background-color: #038024;
    display: flex;
    flex-direction: column;
}

.bonus {
    position: absolute;
    width: 30px;
    height: 30px;
}

.imgBonus {
    width: 30px;
    height: 30px;
}

body {
    background-color: #bbfcd0;
}

.eyes {
    display: flex;
    flex-direction: row;
    height: 75%;
}

.leftEye {
    width: 25%;
    height: 25%;
    margin-top: 35%;
    margin-left: 9%;
    background-color: black;
    border-radius: 10px;
}

.rightEye {
    width: 25%;
    height: 25%;
    margin-top: 35%;
    margin-left: 28%;
    background-color: black;
    border-radius: 10px;
}

.tongueSnake {
    position: absolute;
    width: 15%;
    height: 40%;
    background-color: pink;
    margin-left: 40%;
    margin-top: 85%;
}